In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
import random
from scipy.stats import linregress
from sklearn import datasets
import scipy.stats as sts
import requests
import time
from scipy.stats import linregress

In [2]:
# File to Load (Remember to Change These)
file1="case_demographics_sex.csv"

# Read Purchasing File and store into Pandas data frame

gender_df= pd.read_csv(file1)

In [3]:
gender_df.head()

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
0,Female,5015,4/2/2020,NaN,NaN,NaN,NaN
1,Male,5547,4/2/2020,NaN,NaN,NaN,NaN
2,Unknown,139,4/2/2020,NaN,NaN,NaN,NaN
3,Female,5674,4/3/2020,NaN,NaN,NaN,NaN
4,Male,6202,4/3/2020,NaN,NaN,NaN,NaN

In [5]:
del gender_df["case_percent"]
del gender_df["deaths"]
del gender_df["deaths"]

       sex  totalpositive2      date  deaths  deaths_percent  ca_percent
0   Female            5015  4/2/2020     NaN             NaN         NaN
1     Male            5547  4/2/2020     NaN             NaN         NaN
2  Unknown             139  4/2/2020     NaN             NaN         NaN
3   Female            5674  4/3/2020     NaN             NaN         NaN
4     Male            6202  4/3/2020     NaN             NaN         NaN