In [65]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import sem
import random
from scipy.stats import linregress
from sklearn import datasets
import scipy.stats as sts
import requests
import time
from scipy.stats import linregress

In [66]:
# File to Load (Remember to Change These)
file1="case_demographics_sex.csv"

# Read Purchasing File and store into Pandas data frame

df= pd.read_csv(file1)

In [67]:
df

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
0,Female,5015,4/2/2020,NaN,NaN,NaN,NaN
1,Male,5547,4/2/2020,NaN,NaN,NaN,NaN
2,Unknown,139,4/2/2020,NaN,NaN,NaN,NaN
3,Female,5674,4/3/2020,NaN,NaN,NaN,NaN
4,Male,6202,4/3/2020,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1980,Unknown,51284,2/23/2021,1.5,242,0.5,0
1981,Female,1757746,2/24/2021,50.8,20985,41.4,50.3
1982,Male,1651296,2/24/2021,47.7,29420,58.1,49.7
1983,Unknown,51284,2/24/2021,1.5,243,0.5,0
1984,>>>>>>> e803abca8ad3094f0700bcf3636bd9417aa87c4f,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
gender_df=df.dropna(how="any")
gender_df

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
64,Female,18395,4/22/2020,49.23,552,39.54,50.31
65,Male,18690,4/22/2020,50.01,839,60.1,49.69
67,Female,19394,4/23/2020,49.41,593,39.82,50.31
68,Male,19577,4/23/2020,49.87,891,59.84,49.69
70,Female,20395,4/24/2020,49.58,625,39.73,50.31
...,...,...,...,...,...,...,...
1979,Male,1648874,2/23/2021,47.7,28748,58.1,49.7
1980,Unknown,51284,2/23/2021,1.5,242,0.5,0
1981,Female,1757746,2/24/2021,50.8,20985,41.4,50.3
1982,Male,1651296,2/24/2021,47.7,29420,58.1,49.7
1983,Unknown,51284,2/24/2021,1.5,243,0.5,0

In [69]:
gender_df.count()

sex               1835
totalpositive2    1835
date              1835
case_percent      1835
deaths            1835
deaths_percent    1835
ca_percent        1835
dtype: int64

In [70]:
gender_df.nunique()

sex                 4
totalpositive2    900
date              310
case_percent       62
deaths            701
deaths_percent     86
ca_percent          6
dtype: int64

In [71]:
gender_df["sex"].value_counts()

Male       618
Female     618
Unknown    598
sex          1
Name: sex, dtype: int64

In [72]:
gender_df.loc[gender_df["sex"]=="sex", : ]

,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent
992,sex,totalpositive2,date,case_percent,deaths,deaths_percent,ca_percent

In [74]:
gender_df=gender_df.loc[(gender_df["sex"]!="sex")]
gender_df["sex"].value_counts()

Male       618
Female     618
Unknown    598
Name: sex, dtype: int64